/.idea
/greenstartupbusinessgame.ru/public_html/wp-content/plugins
/greenstartupbusinessgame.ru/public_html/wp-content/mu-plugins
/greenstartupbusinessgame.ru/public_html/wp-content/themes
/greenstartupbusinessgame.ru/public_html/wp-content/uploads
/greenstartupbusinessgame.ru/public_html/wp-content/aiowps_backups
/greenstartupbusinessgame.ru/public_html/wp-content/cache
/greenstartupbusinessgame.ru/public_html/wp-content/plugins
/greenstartupbusinessgame.ru/public_html/wp-admin
/greenstartupbusinessgame.ru/public_html/.htaccess

